.print\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) /* #ffffff */;
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) /* #f3f4f6 */;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media print {
  /* Add this rule to hide all non-invoice elements */
  /* body > *:not(.print-page) {
    display: none !important;
  } */

  @page {
    size: A4;
    margin: 0;
    width: 210mm;
    height: 297mm;
    background-color: white !important;
  }

  /* Retain print color adjustments but remove the global white background override */
  * {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
  }

  /* Apply white background to main containers */
  body {
    margin: 0;
    width: 210mm;
    height: 297mm;
    background-color: white !important;
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
  }

  .print-page {
    page-break-after: always;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    padding-bottom: 2.7rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .print-page:last-child {
    page-break-after: auto;
  }

  .print-footer {
    text-align: right;
    margin-top: auto;
  }

  .hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:hidden {
    display: none !important;
  }

  .font-black {
    font-weight: 900;
  }

  .print\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) /* #ffffff */;
  }

  .text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1)) /* #000000 */;
  }

  .font-bold {
    font-weight: 700;
  }

  /* Ensure .bg-gray-100 elements retain their gray background */
  .bg-gray-100 {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) !important;
  }
  .print\:bg-gray-300\/70 {
    background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1)) !important;
  }
  .hide-scrollbar-print {
    overflow-y: hidden !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar-print::-webkit-scrollbar {
    display: none;
  }
}
