/* Poppins - All Weights */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Noto Naskh Arabic - All Weights */
@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Variable Font (if needed) */
@font-face {
  font-family: 'Noto Naskh Arabic';
  src: url('/fonts/Noto_Naskh_Arabic/NotoNaskhArabic-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

/* Keep existing classes */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-naskh-arabic {
  font-family: 'Noto Naskh Arabic', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
